.ingredientBox {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  transition:
    box-shadow 0.5s ease,
    text-shadow 0.5s ease-in;
  cursor: default;
}

.ingredientBox:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.1);
}

.ingredientText {
  font-weight: bold;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}
