.recipecard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Polisans, sans-serif;
  display: flexbox;
  align-items: center;
}

.recipename {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeimg {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipedetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeinstructions {
  padding: 0;
  border-radius: 5px;
  color: gray;
}

.recipeinstructions ol {
  margin-left: 0px;
}
