.recipebox {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 270px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  display: flexbox;
}

.recipeimage {
  height: auto;
}

.recipetitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.recipebutton {
  border: none;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  transition:
    transform 0.5s ease,
    background-color 0.5s ease;
}

.recipebutton:hover {
  background-color: black;
  transform: translate(0px, -2px);
}

.buttoncontainer {
  margin-bottom: 20px;
  justify-content: space-around;
  display: flex;
  text-align: center;
}
