.searchbox {
  position: relative;
  display: inline-block;
  width: 50%;
}

.searchinput {
  border: none;
  float: inline-end;
  font-size: 14px;
}

.searchinput:focus {
  outline: none;
}

.searchbutton {
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: orange;
  transition: background-color 0.5s ease;
  transition: color 0.5s cubic-bezier();
  float: right;
  font-size: 14px;
}

.searchbutton:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
