.searchbox {
  position: relative;
  display: inline-block;
  width: 50%;
}

.searchinput {
  border: none;
  float: inline-end;
  font-size: 14px;
}

.searchinput:focus {
  outline: none;
}

.searchbutton {
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: lightseagreen;
  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
  float: right;
  font-size: 14px;
}

.searchbutton:hover {
  background-color: black;
  transform: translate(0px, -1px);
  cursor: pointer;
}
